<div class="veiw-container home">
	<div class="home-info">
		<h2>This is a title of sorts</h2>
		<p>Stumptown iPhone scenester pinterest flannel. Intelligentsia semiotics locavore squid, ugh pour-over dreamcatcher mlkshk YOLO green juice art party. Blog four dollar toast shoreditch, cold-pressed venmo slow-carb kogi occupy lo-fi. Intelligentsia lumbersexual chartreuse, mumblecore cronut 3 wolf moon irony keytar kale chips 8-bit chillwave retro neutra. Tousled kombucha retro, vegan </p>
	</div>
</div>
