<!DOCTYPE html>
<html ng-app="fitsiiApp" lang="en">
	<head>
		<meta charset="utf-8">
		<title>FitSii | Fitness Log</title>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="FitSii is a one stop spot for your fitness logging neads">
		<meta name="author" content="Daniel Stephany">
		<link rel="stylesheet" href="css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
   		<script src="js/app.js"></script>
	    <script src="js/controllers.js"></script>
	    <script src="js/filters.js"></script>
		<script src="js/services.js"></script>
	</head>
	<body>
	<div class="main-wrap">
		<div class="main-container home">
			<header>
				<div>
					<h1 class="logo">Fitsii</h1>
				</div>
				<nav class="main-nav">
					<ul class="nav-list clear">
						<li>
							<a href="">Yoga</a>
						</li>
						<li>
							<a href="">HITT</a>
						</li>
						<li>
							<a href="">Diet</a>
						</li>
						<li>
							<a href="">Main</a>
						</li>
					</ul>
				</nav>
			</header>

			<div ng-controller="articalListCtrl" class="veiw-container health">
				<div class="wrap">
					<div class="health-title">
					<h1>Health Articals</h1>
					<input ng-model="query" type="text">
					<select ng-model="order">
						<option value="age">Newest</option>
						<option value="-age">Oldest</option>
						<option value="title">Alphabetical</option>
					</select>
					</div>
					<ul class="search-list">
						<li ng-repeat="artical in articals | filter:query | orderBy:order">
							<a href="#"><h2>{{artical.title}}</h2></a>
							<p>{{artical.snippet}}</p>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<footer>
		<ul class="foot-nav">
			<li>
				<a href="">Yoga</a>
			</li>
			<li>
				<a href="">HITT</a>
			</li>
			<li>
				<a href="">Diet</a>
			</li>
			<li>
				<a href="">Mind</a>
			</li>
		</ul>
		<p class="copy">Created by <a href="https://www.danielstephany.com">&copy; Daniel Stephany</a></p>
	</footer>
	</body>
<html>