<div class="veiw-container health">
	<div class="wrap">
		<div class="health-title">
		<h1>Health Articals</h1>
		<input type="text">
		<select>
			<option>Newest</option>
			<option>Oldest</option>
			<option>Alphabetical</option>
		</select>
		</div>
		<ul class="search-list">
			<li>
				<a href="#"><h2>Healthy stuff and things.</h2></a>
				<p>this is some text and stuff that should be a brief description of the artical nothing to long.</p>
			</li>
			<li>
				<a href="#"><h2>Healthy stuff and things.</h2></a>
				<p>this is some text and stuff that should be a brief description of the artical nothing to long.</p>
			</li>
		</ul>
	</div>
</div>