<div class="veiw-container wrap">
	<div class="home-info">
		<h2>Fitsii Your fitness resource</h2>
		<p>Fitsii is here to help you reach your fitness goals by providing you with the information that you need to build a healthy lifestyle. check out our yoga section to keep your body happy by using all of it. Our HIIT section provides you with exercises you need to build a powerfull High Intensity Interval Training session. And check out our diet section to give you the knowlege you need to fuel your body with what it needs to keep you. moving.</p>
	</div>
</div>
