<div class="wrap">
	<div class="exercise-title">
		<h1>{{pose.name}}</h1>
	</div>
	<div class="exercise-body clear">
		<img src="{{pose.img}}" alt="{{pose.name}}">
		<div class="pose-steps clear">
			<h2>{{pose.name}} step by step instructions</h2>
			<ul>
				<li ng-repeat="steps in pose.steps">
					<p>{{steps}}</p>
				</li>
			</ul>
		</div>
		<div class="benifits">
			<h2>Benifits</h2>
			<ul>
				<li ng-repeat="benifits in pose.benifits">&#8226; {{benifits}}</li>
			</ul>
		</div>
	</div>
</div>